@import "tailwindcss";

:root {
  --color1: #ffffff;
  --color2: #171717;
  --color3: #9d8603;
  --color31: #efeacb;
}


body {
  background: var(--color1);
  color: var(--color2);
  font-family: Arial, Helvetica, sans-serif;
}